NUXT_GDRIVE_OAUTH_CLIENT_ID=531763829203-vo2vt9tlre3cr9oulu8oeag6ij32b4i2.apps.googleusercontent.com
NUXT_GDRIVE_OAUTH_CLIENT_SECRET=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
NUXT_GDRIVE_OAUTH_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
NUXT_GDRIVE_UPLOAD_FOLDER_ID=1CtpNdLymwSSKk5kqFnuUszt-EA-aX2fp
NUXT_UPSTASH_REDIS_REST_URL=https://merry-gannet-79736.upstash.io
NUXT_UPSTASH_REDIS_REST_TOKEN=gQAAAAAAATd4AAIgcDJhZjY3OTdmYThmYWU0ZGU2ODcxZWVkNmRjMTBiMzczZA
NUXT_MYSQL_HOST=localhost
NUXT_MYSQL_PORT=3306
NUXT_MYSQL_USER=nama_user_mysql
NUXT_MYSQL_PASSWORD=password_mysql
NUXT_MYSQL_DATABASE=sendsnapfun